/* ==========================================================================
   Anchor
   ========================================================================== */

.Anchor {
  position: absolute;
  top: calc(var(--header-height-mobile) * -1);

  @include breakpoint('tablet') {
    top: calc(var(--header-height-tablet) * -1);
  }
}
