/* ==========================================================================
   SiteLogo
   ========================================================================== */

.SiteLogo {
  width: 45px;
  height: 45px;
  overflow: hidden;
  text-indent: -999em;
  background: url(../img/logo.png) no-repeat 50% 50%;
}
